[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "2.3"
python-dotenv = "1.0"
oauthlib = "3.2"
requests = "2.31"
pyopenssl = "23.2"
openai = "0.28"
flask-sqlalchemy = "3.1"
pymysql = "1.1"
gunicorn = "21.2"
django = "4.2"
djangorestframework = "3.14"
mysqlclient = "2.2"
jinja2 = "3.1"
uvicorn = "0.23"

[requires]
python_version = "3.10"
