{% extends "ki/header.html" %}

{% block title %}
  {{ sitename }}
{% endblock %}

{% block content %}

<div id="home">


  <!-- Modal -->
  <div class="modal fade" id="delete_bot" tabindex="-1" aria-labelledby="delete_bot_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_bot_label">Slette bot</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Vi du virkelig slette denne boten?
        </div>
        <div class="modal-footer">
          <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" id="delete_bot_nr" name="delete_bot_nr" value="">
            <button type="button" class="btn oslo-btn-secondary" data-bs-dismiss="modal">Avbryt</button>
            <input type="submit" id="delete_ok"  class="btn oslo-btn-warning" value="Ja jeg vil slette">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div>
    {% if request.g.logged_on %}
      <button class="btn oslo-btn-secondary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#introCollapse" aria-expanded="false" aria-controls="introCollapse">Dette er Osloskolens løsning for kunstig intelligens</button>
      <div class="mb-3">
        <div class="collapse" id="introCollapse">
          <div class="card card-body">
            <p>Dette er en trygg og sikker måte å bruke kunstig intelligens på. Chatboten bruker ikke eller lagrer personopplysninger. Vi tester løsningen skoleåret 2023/2024.</p>
            <p>Tekstene Chatboten er trent på kommer fra ulike kilder frem til september 2021. Det betyr at det ikke er mulig å få informasjon fra hendelser etter dette.</p>
          </div>
        </div>
      </div>
    {% else %}
      <p>KI i Osloskolen er en løsning for å gi lærere og elever i Osloskolens tilgang til å bruke kunstig intelligens på en trygg måte. Løsningen baserer seg på Azure OpenAI.  Azure OpenAI er Microsoft sin utgave av OpenAI sine ulike språkmodeller. Selv om løsningen er lagt bak FEIDE-pålogging, lagrer den ikke persondata. Feide-påloggingen benyttes kun til tilgangs- og kostnadskontroll, slik at elever og lærere i Osloskolen kan bruke denne teknologien på en trygg måte.
        <a href="https://aktuelt.osloskolen.no/larerik-bruk-av-laringsteknologi/informasjonssikkerhet-og-personvern/feide-tjenester/ki/" target="_blank">
          Her kan du lese mer om informasjonssikkerhet og personvern i løsningen.
        </a>
      </p>
      <p>Osloskolens løsning er inspirert av Randabergskolens AI-løsning. Løsningen utvikles av Utdanningsetaten og veilederteamet for bruk av læringsteknologi i Osloskolen.</p>
    {% endif %}
  </div>
  <div class="row">
    {% for bot in bots %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card" >
          <div class="card-img-top text-center">
            <a href="{{ url('main.bot', kwargs={'bot_nr': bot.bot_nr}) }}">
              {% if bot.image %}
                <img src="{{ static('img/' + bot.image) }}" alt="Åpne {{ bot.title }}">
              {% else %}
                <img src="{{ static('img/' + 'defaultbot.svg') }}" alt="Åpne {{ bot.title }}">
              {% endif %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ bot.title }}</h5>
            <a href="{{ url('main.bot', kwargs={'bot_nr': bot.bot_nr}) }}" class="btn oslo-btn-primary">Åpne</a>
            {% if (request.g.employee and request.g.settings['allow_groups']) or (request.g.employee and request.g.settings['allow_personal'] and bot.owner == request.g.username) or request.g.admin %}
              <a href="{{ url('main.adminbot', kwargs={'bot_nr': bot.bot_nr}) }}" type="button" class="btn oslo-btn-secondary">Rediger</a>
            {% endif %}
            {% if bot.owner == request.g.username or request.g.admin %}
              <button type="button" class="btn oslo-btn-warning" data-bs-toggle="modal" data-bs-target="#delete_bot" data-bs-bot="{{bot.bot_nr}}">
                Slett
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <a href="{{ url('auth.feidelogin') }}" role="button" class="btn oslo-btn-primary">Logg inn </a>
      </div>
      <div class="mt-3">
        <p>
          <a href="https://uustatus.no/nb/erklaringer/publisert/a049250e-d0fb-4510-8f7c-29427e8876e8" target="_blank">Tilgjengelighetserklæring</a>
        </p>
      </div>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
          <img alt="Creative Commons-lisens" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png">
        </a>
      </div>

    {% endfor %}

    {% if (request.g.employee and request.g.settings['allow_personal']) or request.g.admin %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card" >
          <div class="card-img-top text-center">
            <a href="{{ url('main.adminbot', kwargs={'bot_nr': 'new'}) }}">
              <img src="{{ static('img/' + 'pluss.svg') }}" alt="Lag ny bot">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lag ny bot</h5>
            <a href="{{ url('main.adminbot', kwargs={'bot_nr': 'new'}) }}" class="btn oslo-btn-secondary">Ny</a>
          </div>
        </div>
      </div>

    {% endif %}


  </div>

  <script type="text/javascript">
    const delete_bot = document.getElementById('delete_bot')
    if (delete_bot) {
      delete_bot.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const bot_nr = button.getAttribute('data-bs-bot')
        const delete_bot_nr = delete_bot.querySelector('#delete_bot_nr')
        delete_bot_nr.value = bot_nr
      })
    }
  </script>

{% endblock %}
