{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}

<div id="lerer_page">


  <div class="tutorial">
    <h3 class="mb-3">Tips til bruk for lærere</h3>
    <h4 class="mb-3">Hvordan kan du som lærer bruke chatbots i din egen arbeidshverdag?</h4>
    <div>
    	Lærere kan bruke chatbots/språkmodeller på mange måter for å bli mer effektive, presise, kreative og, ikke minst, for å spare tid som du så kan bruke på de oppgavene du mener gir best utbytte for deg og dine elever. 
    </div>
    <ul>
      <li>
        <h5 class="mt-3">Lage forslag til undervisningsopplegg</h5>
        <div>
  		    Språkmodeller er svært gode til å lage kjappe forslag til undervisningsopplegg. Pass på å være presis når du skriver ledeteksten din. Spesifiser fagområde, målgruppe og hva slags resultat du er ute etter. Husk at det du får som svar gjerne er et fint utgangspunkt, men at det som regel er smart å gjøre endringer og tilpasninger til din situasjon. Det er du som er læreren, og du kjenner elevene dine best. 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Jeg trenger å lage en undervisningsopplegg om emnet 2. verdenskrig i Norge for 3. klasse VG3. Kan du foreslå noen aktiviteter, oppgaver og læringsmål som er passende for deres alder og forståelsesnivå? 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Lage læringsmateriell, oppgaver ++</h5>
        <div>
          Språkmodellen kan også lage helt nye quizzer, arbeidsark, rebuser, data til koding, og nærmest hva som helst du måtte ha behov for i din undervisning. Husk at fakta og informasjon ikke alltid vil være pålitelig, så ikke baser f.eks. en quiz kun på det språkmodellen gir deg. Det kan imidlertid være nyttig å få den til å lage spørsmål eller å bruke kun for inspirasjon. 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Jeg trenger 20 quiz-spørsmål om Korstogene som gir en balansert fremstilling av historien, og ikke kun har fokus på det europeiske perspektivet. Vanskelighetsgraden skal være passe for elever på cirka 18 år. 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Bearbeide tekst</h5>
        <div>
          Språkmodeller er perfekte for å jobbe med tekst. Her er noen ting du kan gjøre: 
        </div>
        <ul>
          <li>
            Du kan forenkle vanskelige tekster for å øke forståelsen. Kan være nyttig i flere fag - og særlig for å differensiere opplegg for enkeltelever.  
          </li>
          <li>
            Du kan bruke GPT for å øve på å forfatte tekst eller øve på forståelse. F.eks. ved å be den skrive en tekst og la alle feltene hvor det skal være verb eller adjektiv stå tomme - så kan elevene fylle dem inn. Et nyttig verktøy for å lære fremmedspråk. 
          </li>
          <li>
            Du kan også bruke GPT som en skrivepartner, og be den om å skrive annenhver setning, eller annethvert avsnitt, sammen med en elev. 
          </li>
          <li>
            Bruk GPT til å analysere teksten og finn ut om det er noen ord som gjentas veldig ofte, for så å komme med forslag til endring/synonymer. 
          </li>
        </ul>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Write a short text about a boy on the beach and remove all the adjectives in all the sentences. Mark the adjectives you remove with 15 space markers. 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Gi tilbakemelding på elevers arbeid</h5>
        <div>
          Dette må brukes med skjønn, for det er ikke nødvendigvis ønskelig at lærere skal bruke språkmodeller for å gjøre jobben for dem. Det er nok aller best at elevene selv gjør dette, for å øve opp en selvbevissthet rundt egen tekst, og aktivt søke tilbakemeldinger som kan gjøre arbeidet deres bedre. Men det er kjekt å vite at GPT gjør denne jobben godt, og effektivt. 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Gi en tilbakemelding på det følgende essayet. Gi detaljerte kommentarer om områder der eleven kan forbedre seg. Kom med konkrete forslag til hvordan eleven kan forbedre skriveferdighetene sine med eksempler fra teksten. Tekst: [Lim inn teksten] 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Språkstøtte mot elever</h5>
        <div>
          Språkstøtte er særlig nyttig i fremmedspråk, eller når du jobber med elever som trenger ekstra støtte i møte med nytt språk. Eventuelt om du selv har behov for språkstøtte for kommunikasjon med foresatte eller elever i et språk du selv ikke behersker. 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Kan du forenkle den følgende teksten og oversette den til ukrainsk? Tekst: [her limer du inn teksten] 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Skrive utkast til e-poster eller annen kommunikasjon</h5>
        <div>
          En lærers hverdag kan sette høye krav til tekstproduksjon. Det er brev til foresatte, informasjon til hjemmesider, veiledning til elever, e-post til eksterne aktører, og meldinger til klassen på Teams. Det er moro å skrive selv, men om tidspresset øker og du trenger å spare tid er det fint å vite at GPT kan hjelpe å gjøre denne jobben mer effektiv. Ikke la den gjøre all jobben - men bruk den gjerne til å lage gode utkast som du kan fullføre før du trykker på "send" 😉 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Jeg trenger å sende en melding til alle foreldrene i klassen min om at vi skal på fjelltur i morgen og det er meldt regn og vind. Kan du hjelpe meg med å utforme en melding som er klar og tydelig og inneholder all nødvendig informasjon? 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Personalisere og tilpasse opplæringen</h5>
        <div>
          GPT kan hjelpe lærere med å tilpasse læringen til den enkelte elevs forutsetninger og interesser. På den måten kan vi sikre at flere elever opplever mestring, og at undervisningen er relevant for dem. Husk - her er det viktig at du bruker veldig konkret ledetekst, for å få gode svar! 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            En av mine elever er veldig opptatt av sport og idrett. Kan du foreslå en oppgave knyttet til idrett og de olympiske leker, men lagt til antikkens Hellas, og som hjelper eleven å forstå viktigheten av kildekritikk? 
          </em>
        </div>
      </li>

      <li>
        <h5 class="mt-3">Variere undervisning</h5>
        <div>
          Vil du ha en ny vri på undervisningen? Få noen tips til aktiviteter fra GPT. 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Jeg underviser i norsk på VG2, og skal ha om temaet "Nasjonalromantikken". Jeg vil gjerne at elevene skal bli ekstra engasjert, være fysisk aktive i timen, og helst gjennomføre undervisningen utendørs. Timen min varer i 90 minutter, og skolen ligger i Oslo sentrum. Har du noen tips til hva jeg kan gjøre? 
          </em>
        </div>
        <div>
          Eller gjør om introen til timen din til et skuespill (uten å bruke 30 minutter på forberedelse). Tips: Skriv inn ledeteksten sammen med elevene, og spør dem om hvilke detaljer de vil ha med - da blir de mer involvert i prosessen. Når skuespillet er ferdig skrevet, som tar cirka 1 minutt totalt, får du opp noen frivillige elever og får dem til å fremføre foran klassen 😎 
        </div>
        <div>
          Ledetekst:
        </div>
        <div>
          <em>
            Skriv et kort skuespill på 400 ord som handler om _________. Handlingen finner sted __________. Det skal ha 4 hovedpersoner, som heter _______, _______, _______ og _______. Skuespillet skal være morsomt, og beskrivelsene skal være fargerike og detaljerte. 
          </em>
        </div>
      </li>

    </ul>

    <h4 class="mb-3">Hva kan du som skole/lærer gjøre for å unngå ugunstig bruk av AI-løsninger?</h4>
    <ul>

      <li>
        <h5 class="mt-3">Veiledning</h5>
        <div>
          Lærere bør gi elevene veiledning om hvordan de kan stille spørsmål og få mest mulig ut av teknologien på en trygg og sikker måte. De bør også gi klare retningslinjer for hvordan elevene skal bruke ChatGPT, inkludert hva slags spørsmål som er hensiktsmessige og hva slags spørsmål som bør unngås. I oppstarten kan det være hensiktsmessig å ta i bruk tjenesten i et klasserom hvor lærer kan overvåke elevenes bruk av teknologien og gi veiledning etter behov 
        </div>
      </li>


      <li>
        <h5 class="mt-3">Moderering</h5>
        <div>
          Osloskolens løsning er moderert og filtrert for å tilby mer passende svar for elever(?) 
        </div>
      </li>


      <li>
        <h5 class="mt-3">Begrensning av tilgang</h5>
        <div>
          For å hindre misbruk eller dårlig bruk av ChatGPT, kan skoler begrense tilgangen til teknologien til bestemte tider av dagen eller bestemte typer spørsmål og emner. Skoleadministrasjonen kan også etablere retningslinjer for hva som kan og ikke kan diskuteres i bruk av teknologien. 
        </div>
      </li>


      <li>
        <h5 class="mt-3">Informasjon til foresatte</h5>
        <div>
          Foresatte bør også bli informert om bruken av ChatGPT i skolen, inkludert hvordan teknologien brukes, hva slags spørsmål som kan stilles og hvordan elevenes sikkerhet og personvern ivaretas.
        </div>
        <div>
          Ved å implementere noen eller alle av disse tiltakene, kan lærere og skoleadministrasjon sikre at ChatGPT brukes på en ansvarlig og trygg måte i skolen. 
        </div>
      </li>

    </ul>

  </div>
</div>
{% endblock %}


 