{% extends "ki/header.html" %}

{% block title %}
  {{ sitename }}
{% endblock %}

{% block content %}

<div id="om_page">

  <div>
    <h3>Om tjenesten</h3>
  <div>
    <p>Denne løsningen er i pilot for Oslokolen skoleåret 2023/2024.</p>
    <p>KI i Osloskolen er en løsning for å gi lærere og elever i Osloskolens tilgang til å bruke kunnstig intelligens på en trygg måte. Løsningen baserer seg på Azure OpenAI.  Azure OpenAI er Microsoft sin utgave av OpenAI sine ulike språkmodeller. Selv om løsningen er lagt bak FEIDE-pålogging, lagrer den ikke persondata. Feide-påloggingen benyttes kun til tilgangs- og kostnadskontroll, slik at elever og lærere i Osloskolen kan bruke denne teknologien på en trygg måte.
      <a href="https://aktuelt.osloskolen.no/larerik-bruk-av-laringsteknologi/informasjonssikkerhet-og-personvern/feide-tjenester/ki/" target="_blank">
        Her kan du lese mer om infromasjonssikkerhet og personvern i løsningen.
      </a>
    </p>
    <p>Osloskolens løsning er inspirert av Randabergskolens AI-løsning. Løsningen utvikles av Utdanningsetaten og veilederteamet for bruk av læringsteknologi i Osloskolen.</p>
  </div>
    <h3>Hvorfor bruke KI?</h3>
    <p>Kunstig intelligens har hatt en rasende vekst det siste året og det åpner for en masse spennende bruksområder i skolen. KI kan være en god ressurs i tilpasset opplæring for lærere og en god studieassistent for elever. Det å hjelpe elevene se hensiktsmessig og skolerettet bruk av KI kan være med å skape gode digitale vaner, samt skape økt læring.</p>
    <h3>Hvorfor bruke Osloskolens KI?</h3>
    <p>KI i osloskolen er blant annet skapt for å være en lavterskel-inngang for lærere og elever, uavhengig av tidligere erfaring. Osloskolens chatbots er designet for å få brukere raskt i gang med KI på en hensiktsmessig måte.</p>
    <p>KI i osloskolen bruker den samme type FEIDE-innloggingen som resten av de digitale løsningene du er vant til i skolehverdagen. Løsningen er trygg og i henhold til GDPR.</p>
    <p>Det å skape en sikker løsning for bruk av KI som verken krever penger eller persondata åpner for at alle tilknyttet osloskolen skal få de samme forutsetningene til å lære om og med KI.</p>
  </div>
  <div>
    <h3>Spørsmål og erfaringsdeling</h3>
    <P>Har du spørsmål, innspill, ønsker tips til bruk eller ønsker å dele dine tanker og erfaringer? Besøk <a href="https://teams.microsoft.com/l/channel/19%3adf81b002d2b748d8a39cad425c4396d6%40thread.tacv2/11.%2520KI%2520i%2520skolen?groupId=0eb90c9d-3f12-479a-888c-03ab23e348bb&tenantId=a5a66368-d49e-4bf5-af9a-6ccbf48e6655" target="_blank">Teams-kanalen for KI i Osloskolen </a>
  </div> 
  <div class="mt-5">
    <p>
      <a href="https://aktuelt.osloskolen.no/larerik-bruk-av-laringsteknologi/informasjonssikkerhet-og-personvern/feide-tjenester/ki/" target="_blank">Personvern i løsningen</a><br>
      <a href="https://uustatus.no/nb/erklaringer/publisert/a049250e-d0fb-4510-8f7c-29427e8876e8" target="_blank">Tilgjengelighetserklæring</a>
    </p>
  </div>
  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
      <img alt="Creative Commons-lisens" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png">
    </a>
  </div>

  
</div>
{% endblock %}
