{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}

<div id="om_page" class="container mt-3">

  <div class="card float-end">
    <div class="card-body">
      <div><a href="{{url_for('info.om')}}">Hvorfor bruke KI?</a></div>
      <div><a href="{{url_for('info.lerere')}}">Tips til bruk for lærere</a></div>
      <div><a href="{{url_for('info.elever')}}">Tips til bruk for elever</a></div>
    </div>
  </div>

	<div>
  <h3>Personvern, sikkerhet og KI</h3>
	<p> KI i Osloskolen krever innlogging gjennom FEIDE. Det er for å hindre at andre enn personer tilknyttet osloskolen skal bruke tjenesten. Det betyr ikke at den enkeltes feidekonto blir koblet opp mot tekst de skriver eller innhold de genererer. Påloggingen gir ikke produsent av KI(har vi et bedre begrep her?) tilgang til den enkelte brukers data. Tjenesten vil verken behandle eller lagre personopplysninger. I motsetning til mange kommersielle KI-alternativer vil ikke noe av tekst/prompts/innhold send av brukere i osloskolen vil bli brukt i ytterligere trening av deres språkmodeller.</p>

  </div>
</div>
{% endblock %}


 