@import 'bootstrap/scss/bootstrap.scss';
/* @import './base.css'; */

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-RegularItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Medium.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-MediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

:root {
  --bs-border-radius: 0;
  /* define color variables */
  --oslo-dark-blue: #2a2859;
  --oslo-blue: #6fe9ff;
  --oslo-light-blue: #b3f5ff;
  --oslo-red: #ff8274;
  --oslo-dark-green: #034b45;
  --oslo-green: #43f8b6;
  --oslo-light-green: #c7f6c9;
  --oslo-yellow: #f9c66b;
  --oslo-dark-beige: #d0bfae;
  --oslo-light-beige: #f8f0dd;
  --oslo-light-grey: #f5f5f5;
  --oslo-semilight-grey: #e9e9e9;
  --oslo-grey: #bebebe;
  --oslo-black: #2c2c2c;
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'OsloSans', Arial, sans-serif;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.btn {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.btn-lst {
  margin-left: 0;
  margin-bottom: 0.3rem;
}

nav a {
  font-weight: inherit;
}
nav a:hover {
  color: inherit;
}

.nav-link {
  color: inherit;
}

.nav-link.active {
  font-weight: 500;
}

.nav-link:hover {
  color: inherit;
}

.infotext {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 47em;
}

.infotext a {
  color: #0057ad;
}

.logo img {
  height: 70px;
}

ul .user {
  list-style-type: none;
  background-color: #ffffff;
}

ul .assistant {
  list-style: none;
  background-color: #b3f5ff;
}

ul .system {
  list-style: none;
  background-color: #f8f0dd;
}

button img {
  width: 1.3em;
}

.icon {
  width: 1.7em;
}

.avatar {
  text-align: center !important;
  padding: 0 !important;
  width: 2em;
}

.chat p {
  margin-bottom: 0;
}

.speech-bubble-user {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 12px !important;
}

.speech-bubble-user p:last-child {
  margin-bottom: 0;
}

.speech-bubble-assistant {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 0px !important;
}

.speech-bubble-user p:last-child,
.speech-bubble-assistant p:last-child {
  margin-bottom: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.type-writer {
  overflow: hidden;
  border-right: 0.75em solid var(--oslo-black);
  width: 0;
  animation:
    typing 1s forwards,
    blink 0.8s infinite;
}

.response {
  white-space: pre-wrap;
}

.name {
  justify-self: end;
}

.levelselect {
  width: 30rem;
}

.show-advanced[aria-expanded='false']:after {
  content: 'Vis avanserte innstillinger';
}

.show-advanced[aria-expanded='true']:after {
  content: 'Skjul avanserte innstillinger';
}

.message-widget {
  background-color: white;
  margin-left: 5px;
}
.message-widget:hover {
  background-color: #f8f0dd;
  border-radius: 50%;
}
.message-widget img {
  height: 20px;
  width: 20px;
}

.message {
  margin-bottom: 2rem;
}

.w-60 {
  width: 60%;
}

legend {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.btn-primary {
  --bs-btn-color: var(--oslo-dark-blue);
  --bs-btn-bg: var(--oslo-blue);
  --bs-btn-border-color: var(--oslo-blue);
  --bs-btn-hover-color: var(--oslo-dark-blue);
  --bs-btn-hover-bg: var(--oslo-light-blue);
  --bs-btn-hover-border-color: var(--oslo-light-blue);
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--oslo-blue);
  --bs-btn-active-border-color: var(--oslo-blue);
}

.btn-secondary {
  --bs-btn-color: var(--oslo-black);
  --bs-btn-bg: var(--oslo-light-beige);
  --bs-btn-border-color: var(--oslo-light-beige);
  --bs-btn-hover-color: var(--oslo-black);
  --bs-btn-hover-bg: var(--oslo-dark-beige);
  --bs-btn-hover-border-color: var(--oslo-dark-beige);
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--oslo-yellow);
  --bs-btn-active-border-color: var(--oslo-dark-beige);
}

.btn-warning {
  --bs-btn-color: var(--oslo-black);
  --bs-btn-bg: var(--oslo-yellow);
  --bs-btn-border-color: var(--oslo-yellow);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--oslo-red);
  --bs-btn-hover-border-color: var(--oslo-red);
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--oslo-red);
  --bs-btn-active-border-color: var(--oslo-red);
}

.btn-light {
  --bs-btn-color: var(--oslo-black);
  --bs-btn-bg: var(--oslo-light-grey);
  --bs-btn-border-color: var(--oslo-light-grey);
  --bs-btn-hover-color: var(--oslo-black);
  --bs-btn-hover-bg: var(--oslo-semilight-grey);
  --bs-btn-hover-border-color: var(--oslo-semilight-grey);
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--oslo-semilight-grey);
  --bs-btn-active-border-color: var(--oslo-semilight-grey);
}

.bg-primary {
  background-color: var(--oslo-light-blue) !important;
}

.bg-secondary {
  color: var(--oslo-black) !important;
  background-color: var(--oslo-dark-beige) !important;
}

.bg-success {
  background-color: var(--oslo-light-green) !important;
}

.bg-danger {
  background-color: var(--oslo-red) !important;
}

.bg-warning {
  background-color: var(--oslo-yellow) !important;
}

.bg-info {
  background-color: var(--oslo-light-blue) !important;
}

.bg-light {
  background-color: var(--oslo-light-grey) !important;
}

.bg-light:hover {
  background-color: var(--oslo-semilight-grey) !important;
}

.oslo-fill-dark-blue {
  fill: var(--oslo-dark-blue);
}

.oslo-fill-blue {
  fill: var(--oslo-blue);
}

.oslo-fill-light-blue {
  fill: var(--oslo-light-blue);
}

.oslo-fill-red {
  fill: var(--oslo-red);
}

.oslo-fill-dark-green {
  fill: var(--oslo-dark-green);
}

.oslo-fill-green {
  fill: var(--oslo-green);
}

.oslo-fill-light-green {
  fill: var(--oslo-light-green);
}

.oslo-fill-yellow {
  fill: var(--oslo-yellow);
}

.oslo-fill-dark-beige {
  fill: var(--oslo-dark-beige);
}

.oslo-fill-light-beige {
  fill: var(--oslo-light-beige);
}

.oslo-fill-light-grey {
  fill: var(--oslo-light-grey);
}

.oslo-fill-black {
  fill: var(--oslo-black);
}
