@import 'bootstrap/scss/bootstrap.scss';
/* @import './base.css'; */

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-RegularItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-Medium.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'OsloSans';
  src: url('fonts/OsloSans-MediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

:root {
  --bs-border-radius: 0;
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'OsloSans', Arial, sans-serif;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007eff;
  text-decoration: none !important;
}

.btn {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

nav a {
  font-weight: inherit;
}
nav a:hover {
  color: inherit;
}

.infotext a {
  color: #007eff;
}

.logo img {
  height: 70px;
}

ul .user {
  list-style-type: none;
  background-color: #ffffff;
}

ul .assistant {
  list-style: none;
  background-color: #b3f5ff;
}

ul .system {
  list-style: none;
  background-color: #f8f0dd;
}

button img {
  width: 1.3em;
}

.avatar {
  text-align: center !important;
  padding: 0 !important;
  width: 2em;
}

.edit-link,
.clipboard {
  text-align: center !important;
  padding: 0 !important;
}

.edit-link,
.clipboard img {
  width: 1.3em;
}

.chat p {
  margin-bottom: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.type-writer {
  overflow: hidden;
  border-right: 0.75em solid black;
  width: 0;
  animation:
    typing 1s forwards,
    blink 0.8s infinite;
}

.response {
  white-space: pre-wrap;
}

.name {
  justify-self: end;
}

.levelselect {
  width: 30rem;
}

.show-advanced[aria-expanded='false']:after {
  content: 'Vis avanserte innstillinger';
}

.show-advanced[aria-expanded='true']:after {
  content: 'Skjul avanserte innstillinger';
}

.oslo-btn-primary,
.oslo-btn-primary.active:hover {
  color: #2a2859;
  background-color: #6fe9ff;
  border-color: #6fe9ff;
}

.oslo-btn-primary:hover,
.oslo-btn-primary.active {
  color: #6fe9ff;
  background-color: #2a2859;
  border-color: #2a2859;
}

.oslo-btn-secondary {
  color: #000;
  background-color: #f8f0dd;
  border-color: #f8f0dd;
}

.oslo-btn-secondary:hover {
  color: #000;
  background-color: #d0bfae;
  border-color: #d0bfae;
}

.btn-check + .oslo-btn-secondary:hover {
  color: #000;
  background-color: #d0bfae;
  border-color: #d0bfae;
}

.btn-check:checked + .oslo-btn-secondary {
  color: #000;
  background-color: #f9c66b;
  border-color: #f9c66b;
}

.oslo-btn-warning {
  color: #000;
  background-color: #f9c66b;
  border-color: #f9c66b;
}

.oslo-btn-warning:hover {
  color: #000;
  background-color: #ff8274;
  border-color: #ff8274;
}

.oslo-bg-primary {
  background-color: #b3f5ff !important;
}

.oslo-bg-secondary {
  background-color: #f8f0dd !important;
}

.oslo-bg-success {
  background-color: #c7f6c9 !important;
}

.oslo-bg-danger {
  background-color: #ff8274 !important;
}

.oslo-bg-warning {
  background-color: #f9c66b !important;
}

.oslo-bg-info {
  background-color: #b3f5ff !important;
}

.oslo-bg-light {
  background-color: #f5f5f5 !important;
}

.oslo-bg-blue {
  background-color: #6fe9ff !important;
}

.oslo-text-primary {
  color: #2a2859 !important;
}

.oslo-text-secondary {
  color: #d0bfae !important;
}

.oslo-text-success {
  /*color: #43F8B6!important;*/
  color: #034b45 !important;
}

.oslo-text-danger {
  color: #ff8274 !important;
}

.oslo-text-warning {
  color: #f9c66b !important;
}

.oslo-text-info {
  color: #b3f5ff !important;
}

.oslo-text-light {
  color: #818181 !important;
}

.oslo-fill-dark-blue {
  fill: #2a2859;
}

.oslo-fill-blue {
  fill: #6fe9ff;
}

.oslo-fill-light-blue {
  fill: #b3f5ff;
}

.oslo-fill-red {
  fill: #ff8274;
}

.oslo-fill-dark-green {
  fill: #034b45;
}

.oslo-fill-green {
  fill: #43f8b6;
}

.oslo-fill-light-green {
  fill: #c7f6c9;
}

.oslo-fill-yellow {
  fill: #f9c66b;
}

.oslo-fill-dark-beige {
  fill: #d0bfae;
}

.oslo-fill-light-beige {
  fill: #f8f0dd;
}

.oslo-fill-light-grey {
  fill: #f5f5f5;
}

.oslo-fill-black {
  fill: #2c2c2c;
}
