{% extends "ki/header.html" %}

{% block title %}
  {{sitename}}
{% endblock %}

{% block content %}

  {% if request.g.admin %}

  <form  method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <textarea class="form-control" id="page_text" rows="20" name="page_text">{{ content_text|safe }}</textarea>
    <button type="submit" class="btn oslo-btn-primary">Lagre</button>
    <a href="{{url('main.index')}}" role="button" class="btn oslo-btn-secondary">Avbryt</a>
  </form>

  {% else %}
    {{ content_text|safe }}
  {% endif %}




{% endblock %}
