{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}

<div id="bot_page" class="container mt-3" v-cloak>

  <div id="bot_nr" hidden>{{bot_nr}}</div>
  <div v-if="bot">
    <h2>
      ${ bot.title }
    </h2>
    <p>
      ${ bot.ingress }
    </p>

    <div class="card border-dark">
      <ul class="list-group list-group-flush">
        <span v-for="message_line in messages">
          <li v-if="message_line.role != 'system'" class="list-group-item" :class="message_line.role">
            ${ message_line.content }
          </li>
        </span>
      </ul>
    </div>
    <div id="input_line" class="mt-3">
      <textarea type="text" rows="5" v-model="message" class="form-control" placeholder="skriv her" @keypress.enter="sendMessage()"></textarea>
      <button class="btn oslo-btn-primary" type="button" id="button-send" @click="sendMessage()">Send</button>
      <button class="btn oslo-btn-secondary" type="button" id="button-new" @click="newThread()">Ny samtale</button>
    </div>
    <div id="spinner" class="text-center mt-3 invisible">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div>${ spinner_text }</div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
{% endblock %}
