{% extends "base.html" %}

{% block header %}
  <header>
    <nav class="navbar navbar-expand-lg oslo-bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('main.index')}}">
          <img src="{{ url_for('static', filename='img/oslobot.svg') }}" width="32" height="32" alt="KI">
          KI for Osloskolen
        </a>
        {% if g.logged_on %}
        <div class="d-flex">
            <a href="#">Om tjenesten</a>
        </div>
        <div class="d-flex">
            <a href="{{url_for('auth.logout')}}">Logg ut </a>
        </div>
        {% else %}
        <div class="d-flex">
            <a href="{{url_for('auth.feidelogin')}}">Logg inn </a>
        </div>
        {% endif %}
      </div>
    </nav>

  </header>


{% endblock %}