{% extends "base.html" %}

{% block header %}
  <header>
    <nav class="navbar navbar-expand-lg oslo-bg-light">
      <div class="container-fluid">
        <a class="navbar-brand flex-grow-1 p-2" href="{{url_for('main.index')}}">
          <img src="{{ url_for('static', filename='img/oslobot.svg') }}" width="32" height="32" alt="KI">
          KI for Osloskolen
        </a>
        <div class="p-2">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
            <img alt="Creative Commons-lisens" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
          </a>
        </div>
        {% if g.logged_on %}
        <div class="p-2">
            <a href="{{url_for('main.om')}}">Om tjenesten</a>
        </div>
        <div class="p-2">
            <a href="{{url_for('auth.logout')}}">Logg ut </a>
        </div>
        {% else %}
        <div class="p-2">
            <a href="{{url_for('auth.feidelogin')}}">Logg inn </a>
        </div>
        {% endif %}
      </div>
    </nav>

  </header>


{% endblock %}