{% extends "base.html" %}

{% block header %}
  <header>
    <div id="header" class="d-flex justify-content-between p-4 oslo-bg-light">
      <a href="{{url_for('main.index')}}">
        <h1  class="h3 p-3">
          Kunstig intelligens for Osloskolen
        </h1>
      </a>
      <a class="logo" href="{{url_for('main.index')}}">
        <img src="{{ url_for('static', filename='img/oslo_logo_sort.svg') }}" alt="Oslologo">
      </a>
    </div>
      
    {% block nav %}
      <nav class="d-flex flex-row-reverse">
        {% if g.logged_on %}
          <div class="p-3">
              <a href="{{url_for('auth.logout')}}">Logg ut </a>
          </div>
          {% if g.admin %}
            <div class="p-3">
              <span class="{{ 'oslo-text-light' if page == 'settings' }}">
                <a href="{{url_for('main.settings')}}">Innstillinger</a>
              </span>
            </div>
          {% endif %}
          <div class="p-3">
            <span class="{{ 'oslo-text-light' if page == 'om' }}">
              <a href="{{url_for('main.info', page='about')}}">Om tjenesten</a>
            </span>
          </div>
          {% if g.employee %}
          <div class="p-3">
            <span class="{{ 'oslo-text-light' if page == 'how_to' }}">
              <a href="{{url_for('main.info', page='how_to')}}">Tips</a>
            </span>
          </div>
          {% endif %}
          {% if page != 'index' %}
          <div class="p-3">
              <a href="{{url_for('main.index')}}">Startside</a>
          </div>
          {% endif %}
        {% else %}
          <div class="p-3">
              <a href="{{url_for('auth.feidelogin')}}">Logg inn </a>
          </div>
        {% endif %}
      </nav>
    {% endblock nav %}

  </header>


{% endblock header %}