{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}


<div id="home" class="container">
  <div class="my-3">
    KI for Osloskolen er en webtjeneste for bruk av kunstig inteligens (KI) for ansatte og elever i Osloskolen.
    <a href="#">Her finner du mer informasjon om tjenesten.</a>
  </div>
  <div class="row">
    {% for bot in bots %}
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" >
          <div class="card-img-top text-center">
            <img src="{{ url_for('static', filename='img/bot') + bot.bot_nr|string + '.svg'}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ bot.title }}</h5>
            <p class="card-text">{{ bot.ingress }}</p>
            <a href="{{url_for('main.bot', bot_nr=bot.bot_nr)}}" class="btn oslo-btn-primary">Åpne</a>
            {% if g.admin %} 
              <a href="{{url_for('main.adminbot', bot_nr=bot.bot_nr)}}" class="btn oslo-btn-secondary">Rediger</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <a href="{{url_for('auth.feidelogin')}}" role="button" class="btn oslo-btn-primary">Logg inn </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
