{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}

<div id="home">


  <!-- Modal -->
  <div class="modal fade" id="delete_bot" tabindex="-1" aria-labelledby="delete_bot_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_bot_label">Slette bot</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Vi du virkelig slette denne boten?
        </div>
        <div class="modal-footer">
          <form method="post">
            <input type="hidden" id="delete_bot_nr" name="delete_bot_nr" value="">
            <button type="button" class="btn oslo-btn-secondary" data-bs-dismiss="modal">Avbryt</button>
            <input type="submit" id="delete_ok"  class="btn oslo-btn-warning" value="Ja jeg vil slette">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div>
    <h3>Velkommen til Osloskolens KI-løsning</h3>
    <p>Denne løsningen er under pilotering for utvalgte brukere i Oslokolen</p>
    {% if not g.logged_on %}
      <p>KI i Osloskolen er en løsning for å gi lærere og elever i Osloskolens tilgang til å bruke kunnstig intelligens på en trygg måte. Løsningen baserer seg på API-et til OpenAI sin språkmodell GPT 3.5. Selv om den er lagt bak FEIDE-pålogging, lagrer den ikke persondata. Feide-påloggingen benyttes kun til tilgangs- og kostnadskontroll, slik at elever og lærere i Osloskolen kan bruke denne teknologien på en trygg måte.</p>
      <p>Løsningen er laget og utviklet av utdanningsetaten og veilederteamet for bruk av læringsteknologi i Osloskolen.</p>
      <p>Vi vil rette en stor takk til Odin Nøsen i Randabergskolen, både for bistand til utvikling av vår løsning og for at han har delt innhold under CC-lisens som vi har bearbeidet videre. Osloskolens løsning er inspirert av Randabergskolens KI-løsning.</p>
      <p>
        <a href="https://aktuelt.osloskolen.no/larerik-bruk-av-laringsteknologi/informasjonssikkerhet-og-personvern/feide-tjenester/ki/" target="_blank">Personvern i løsningen</a><br>
        <a href="https://uustatus.no/nb/erklaringer/publisert/a049250e-d0fb-4510-8f7c-29427e8876e8" target="_blank">Tilgjengelighetserklæring</a>
      </p>
    {% endif %}
  </div>
  <div class="row">
    {% for bot in bots %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card" >
          <div class="card-img-top text-center">
            <a href="{{url_for('main.bot', bot_nr=bot.bot_nr)}}">
              {% if bot.image %}
                <img src="{{ url_for('static', filename='img/') + bot.image}}" alt="Åpne {{ bot.title }}">
              {% else %}
                <img src="{{ url_for('static', filename='img/') + 'defaultbot.svg'}}" alt="Åpne {{ bot.title }}">
              {% endif %}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ bot.title }}</h5>
            <a href="{{url_for('main.bot', bot_nr=bot.bot_nr)}}" class="btn oslo-btn-primary">Åpne</a>
            {% if (g.employee and g.settings['allow_groups']) or (g.employee and g.settings['allow_personal'] and bot.owner == g.username) or g.admin %}
              <a href="{{url_for('main.adminbot', bot_nr=bot.bot_nr)}}" type="button" class="btn oslo-btn-secondary">Rediger</a>
            {% endif %}
            {% if bot.owner == g.username or g.admin %}
              <button type="button" class="btn oslo-btn-warning" data-bs-toggle="modal" data-bs-target="#delete_bot" data-bs-bot="{{bot.bot_nr}}">
                Slett
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <a href="{{url_for('auth.feidelogin')}}" role="button" class="btn oslo-btn-primary">Logg inn </a>
      </div>
    {% endfor %}

    {% if (g.employee and g.settings['allow_personal']) or g.admin %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="card" >
          <div class="card-img-top text-center">
            <a href="{{url_for('main.adminbot', bot_nr='new')}}">
              <img src="{{ url_for('static', filename='img/') + 'pluss.svg'}}" alt="Lag ny bot">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Lag ny bot</h5>
            <a href="{{url_for('main.adminbot', bot_nr='new')}}" class="btn oslo-btn-secondary">Ny</a>
          </div>
        </div>
      </div>

    {% endif %}


  </div>

  <script type="text/javascript">
    const delete_bot = document.getElementById('delete_bot')
    if (delete_bot) {
      delete_bot.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const bot_nr = button.getAttribute('data-bs-bot')
        const delete_bot_nr = delete_bot.querySelector('#delete_bot_nr')
        delete_bot_nr.value = bot_nr
      })
    }
  </script>

{% endblock %}
