{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}


<div id="home" class="container">
  <p>
    Vi trenger en masse tekst her om ChatGPT
  </p>
  <div class="row">
    {% for bot in bots %}
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" >
          <div class="card-img-top text-center">
            <img src="{{ url_for('static', filename='img/bot') + bot.bot_nr|string + '.svg'}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ bot.title }}</h5>
            <p class="card-text">{{ bot.ingress }}</p>
            <a href="{{url_for('main.bot', bot_nr=bot.bot_nr)}}" class="btn btn-primary">Åpne</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
