  <div class="card float-end ms-4 mb-4">
    <div class="card-body">
      <div><a href="{{url_for('info.om')}}"><span class="{{ 'oslo-bg-secondary' if page == 'om' }}">Om tjenesten</span></a></div>
      <div><a href="{{url_for('info.lerere')}}"><span class="{{ 'oslo-bg-secondary' if page == 'lerere' }}">Tips til bruk for lærere</span></a></div>
      <div><a href="{{url_for('info.elever')}}"><span class="{{ 'oslo-bg-secondary' if page == 'elever' }}">Tips til bruk for elever</span></a></div>
    </div>
  </div>
