{% extends "header.html" %}

{% block title %}
  {{config['SITENAME']}}
{% endblock %}

{% block content %}

<div id="om_page" class="container mt-3">

  <div class="card float-end ms-4 mb-4">
    <div class="card-body">
      <div><a href="{{url_for('info.personvern')}}">Personvern, sikkerhet og KI</a></div>
      <div><a href="{{url_for('info.lerere')}}">Tips til bruk for lærere</a></div>
      <div><a href="{{url_for('info.elever')}}">Tips til bruk for elever</a></div>
    </div>
  </div>

  <div>
    <h3>Om tjenesten</h3>
    <p>Denne løsningen er under pilotering for utvalgte brukere i Oslokolen</p>
    <p>KI i Osloskolen er en løsning for å gi lærere og elever i Osloskolens tilgang til å bruke kunnstig intelligens på en trygg måte. Løsningen baserer seg på API-et til OpenAI sin språkmodell GPT 3.5. Selv om den er lagt bak FEIDE-pålogging, lagrer den ikke persondata. Feide-påloggingen benyttes kun til tilgangs- og kostnadskontroll, slik at elever og lærere i Osloskolen kan bruke denne teknologien på en trygg måte.</p>
    <p>Løsningen er laget og utviklet av seksjon for læringsteknologi i utdanningsetaten og veilederteamet for bruk av læringsteknologi i Osloskolen.</p>
    <p>Vi vil rette en stor takk til Odin Nøsen i Randabergskolen, både for bistand til utvikling av vår løsning og for at han har delt innhold under CC-lisens som vi har bearbeidet videre. Osloskolens løsning er inspirert av Randabergskolens KI-løsning.</p>
    <p>Alt innholdet er delt under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> lisens.</p>
    <h3>Hvorfor bruke KI?</h3>
    <p>Kunstig intelligens har hatt en rasende vekst det siste året og det åpner for en masse spennende bruksområder i skolen. KI kan være en god ressurs i tilpasset opplæring for lærere og en god studieassistent for elever. Det å hjelpe elevene se hensiktsmessig og skolerettet bruk av KI kan være med å skape gode digitale vaner, samt skape økt læring.</p>
    <h3>Hvorfor bruke Osloskolens KI?</h3>
    <p>KI i osloskolen er blant annet skapt for å være en lavterskel-inngang for lærere og elever, uavhengig av tidligere erfaring. Osloskolens chatbots er designet for å få brukere raskt i gang med KI på en hensiktsmessig måte.</p>
    <p>KI i osloskolen bruker den samme type FEIDE-innloggingen som resten av de digitale løsningene du er vant til i skolehverdagen. Løsningen er trygg og i henhold til GDPR.</p>
    <p>Det å skape en sikker løsning for bruk av KI som verken krever penger eller persondata åpner for at alle tilknyttet osloskolen skal få de samme forutsetningene til å lære om og med KI.</p>
    <h3>Tilbakemelding</h3>
    <p>Gi oss gjerne tilbakemelding på tjenesten:</p>
    <a class="btn oslo-btn-primary" href="https://forms.office.com/e/BsRgRrgMmk" target="_blank">Gi tilbakemelding</a>
  </div>
  <div class="mt-5">
    <p>
      <a href="https://aktuelt.osloskolen.no/larerik-bruk-av-laringsteknologi/informasjonssikkerhet-og-personvern/feide-tjenester/ki/" target="_blank">Personvern i løsningen</a><br>
      <a href="https://uustatus.no/nb/erklaringer/publisert/a049250e-d0fb-4510-8f7c-29427e8876e8" target="_blank">Tilgjengelighetserklæring</a>
    </p>
  </div>
  
</div>
{% endblock %}
